<div ng-repeat="market in markets" class="col-md-4">
    <!--<div class="row">-->
        <uib-accordion>
            <div uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                    <h4>{{market.name}}</h4>
                </uib-accordion-heading>

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div style="padding-left: 8px;padding-right: 8px;"><h4>用户</h4></div>
                        <div style="padding-left: 8px;padding-right: 8px;">
                            <textarea class="form-control" rows="10"
                                      ng-model="market.config.new_users" placeholder="逗号或者换行分隔"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="padding-left: 8px;padding-right: 8px;"><h4>密码</h4></div>
                        <div style="padding-left: 8px;padding-right: 8px;">
                            <input type="text" class="form-control"
                                   ng-model="market.config.new_password" placeholder="密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="padding-left: 8px;padding-right: 8px;" class="pull-right">
                            <button type="submit"
                                    ng-click="save(market.config, users_info)"
                                    class="btn btn-success">
                                保存
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </uib-accordion>
</div>