
<div ng-repeat="market in markets">
    <div class="row">
        <h1>{{ market.name }}</h1>
        <hr>
    </div>
    <div class="row">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputEmail3" class="col-md-1 control-label pull-left">Pin</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"
                               ng-disabled="true" id="pincode" ng-model="market.config.pin" placeholder="Pin">
                    </div>
                </div>
            </form>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3 col-md-offset-1"
             style="border:1px solid rgba(184, 184, 186, 0.47);"
             ng-repeat="product in market.config.products"
                ng-click="choosed_product(product, market.config)"
                id="{{'product-' + product.id}}">
            <br>
            <div>
                <label>商品代码 : {{product.id}}</label>
            </div>
            <div>
                <label>商品名称 :{{ product.name}}</label>
            </div>
            <div>
                <label>发行价 : {{product.price}}</label>
            </div>
            <div>
                <label>发型数量 :{{ product.quantity}}</label>
            </div>
            <br>
        </div>
    </div>
    <div class="row">
        <hr>

    </div>
    <div class="row" >
        <div class="col-md-4" ng-repeat="users_info in market.config.users_info">
            <form class="form-horizontal" role="form" style="min-height: 350px;">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">用户</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"
                               ng-model="users_info.name" id="inputEmail3" placeholder="用户名">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"
                               ng-model="users_info.password" id="inputPassword3" placeholder="密码">
                    </div>
                </div>
                <div class="form-group">
                    <label for="token3" class="col-sm-2 control-label">令牌</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="token3"
                               ng-model="users_info.token" ng-disabled="true" placeholder="令牌">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-if="!users_info.token" type="submit"
                                ng-click="login(market.config, users_info)"
                                class="btn btn-default">
                            登录
                        </button>
                        <!--<button ng-if="token.length!=0" type="submit" class="btn btn-default">抢票</button>-->
                    </div>
                </div>
                <div ng-if="users_info.token">
                    <div class="form-group">
                        <label for="products" class="col-sm-2 control-label">商品</label>
                        <div class="col-sm-10">

                            <select ng-model="users_info.selected_product"
                                    ng-change="query_detail(market.config, users_info)"
                                    ng-options="product.id as product.name for
                                            product in market.config.products"
                                    class="form-control"
                                    >

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="products" class="col-sm-2 control-label">数量</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="products" ng-model="users_info.product_amount" placeholder="数量">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit"
                                    ng-click="query(market.config, users_info)"
                                    class="btn btn-default">
                                查询
                            </button>
                            <button type="submit"
                                    ng-click="order(market.config, users_info)"
                                    class="btn btn-default">
                                抢购
                            </button>
                            <button type="submit"
                                    ng-click="login(market.config, users_info)"
                                    class="btn btn-default">
                                重新登录
                            </button>
                            <!--<button ng-if="token.length!=0" type="submit" class="btn btn-default">抢票</button>-->
                        </div>
                    </div>
                    <div class="row" ng-show="users_info.output.length>0">
                        <div class="col-sm-offset-2 col-sm-10">
                            <span ng-class="users_info.output=='抢购成功'?
                            'label label-success' : 'label label-warning'">
                                {{users_info.output}}
                            </span>
                        </div>
                    </div>
                    <br>
                </div>

            </form>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-md-2 col-md-offset-10">
            <button type="submit"
                    ng-click="batch_query(market.config)"
                    class="btn btn-info">
                批量查询
            </button>
            <button type="submit"
                    ng-click="batch_order(market.config)"
                    class="btn btn-info">
                批量抢票
            </button>

        </div>
    </div>
    <br>

</div>
